DISCORD_BOT_TOKEN=...
DISCORD_CLIENT_ID=...
RIOT_TFT_API_KEY=...
RIOT_LOL_API_KEY=...

DEFAULT_PLATFORM=na1
DEFAULT_REGIONAL=americas

MATCH_POLL_INTERVAL_SECONDS=...

RECAP_AUTOPOST_HOUR=...
RECAP_AUTOPOST_MINUTE=...

DEBUG_DDRAGON_DUMPS=true
LOG_LEVEL=.
LOL_POST_MATCH_ANNOUNCEMENT_STRATEGY=edit
TFT_POST_MATCH_ANNOUNCEMENT_STRATEGY=edit
LIVE_ANNOUNCE_RANKED_ONLY=true